<!doctype html>
<html>
<head>
  <title>madlib questions</title>
</head>
<body>
    <form action="/madlib">
        <label>Person:</label>
        <label><input type="checkbox" name="person" value="Harry Potter">Harry Potter</label>
        <label><input type="checkbox" name="person" value="Ron Weasley">Ron Weasley</label>
        <label><input type="checkbox" name="person" value="Hermione Granger">Hermione Granger</label>
        <br>
        <label>Color: <input type="text" name="color"></label>
        <br>
        <label>Noun: <input type="text" name="noun"></label>
        <br>
        <label>Adjective: <input type="text" name="adjective"></label>
        <br>
        <input type="submit">
    </form>
</body>
</html>